<!DOCTYPE html>
<html ng-app>
<head>
	<title>Todo con Angular JS</title>
	<script src="angular.min.js"></script>
	<style type="text/css">
		li {list-style: none;}
		.ok {
			text-decoration: line-through;
		}
	</style>
</head>
<body ng-init="tareas =['Limpiar mi cuarto', 'cocinar', 'ir al gym', 'pasear al perro']">
	<h1>Tareas por hacer</h1>
	<ul>
		<li ng-repeat="tarea in tareas" class="{{check}}">
			<input type="checkbox" ng-model="check" ng-true-value="'ok'" ng-false-value="''" >
			{{tarea}} {{check}}
		</li>
	</ul>
	<input type="text" name="" ng-model="nuevo">
	<button ng-click="tareas.push(nuevo);nuevo =''">Agregar</button>
</body>
</html>